<section
  class="relative grid grid-cols-1 items-center pt-20 min-h-dvh has-bg-image"
  aria-label="Hero Section"
>
  <app-container>
    <div class="flex flex-col items-start gap-3">
      <!--============== Subtitle ==============-->
      <p class="uppercase font-medium text-sm md:text-lg max-w-sm lg:max-w-lg">
        A rare mint-variegated beauty, grown and selected in our Belgian
        greenhouse.
      </p>

      <!--============== Heading ==============-->
      <h2
        class="text-5xl sm:text-6xl md:text-7xl xl:text-8xl font-medium tracking-[-0.02em] leading-tight max-w-4xl"
      >
        Monstera Deliciosa — Now available
      </h2>

      <!--============== Description ==============-->
      <p class="text-lg xl:text-xl font-normal md:max-w-lg xl:max-w-2xl">
        The unique "Swiss cheese" holes in the leaves make them stand out. This
        houseplant is a must-have for any plant parent!
      </p>

      <!--============== CTA ==============-->
      <button
        class="inline-block items-center group gap-2 text-lg bg-transparent text-white px-5 py-2 w-36.25 rounded-full border-2 border-border mt-3 transition-all duration-200 hover:bg-white hover:text-black hover:scale-102 ease-in-out"
      >
        <a routerLink="/shop">Shop now</a>
      </button>
    </div>
  </app-container>
</section>
