<section
  class="py-16 lg:py-20 xl:py-24 bg-bg text-text"
  aria-label="Home Quote Section"
>
  <app-container
    className="flex flex-col gap-3 sm:gap-5 lg:gap-7 items-center text-center"
  >
    <blockquote
      class="tracking-wide italic sm:text-xl lg:text-2xl xl:text-5xl max-w-lg lg:max-w-3xl xl:max-w-6xl leading-tight"
    >
      “Most plants bounce right back when you give them a drink after being
      under watered. Overwatering however can kill your plant in record time. So
      repeat after me: underwatering is better than overwatering.”
    </blockquote>

    <small class="sm:text-lg uppercase">— Dirk Mermans, Grower</small>
  </app-container>
</section>
