.breadcrumb {
  position: relative;
  display: flex;
  padding: 5px;
  color: var(--color-text);
  transition: color 0.15s ease-in-out;
}

.breadcrumb:is(:hover, :focus) {
  color: var(--color-mustard);
}

.breadcrumb::before {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -6px;
  font-size: 1.2rem;
  color: var(--color-text);
}
