<section class="py-16 bg-text">
  <app-container>
    <!--============== Heading ==============-->
    <h4
      class="text-bg text-center text-2xl sm:text-3xl xl:text-4xl font-secondary font-semibold"
    >
      Popular Categories
    </h4>

    <!--============== Categories ==============-->
    <ul
      class="grid items-center gap-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mt-5 md:mt-8 lg:mt-10 xl:mt-12"
    >
      @for (category of categories(); track category.id) {
      <app-category-card [category]="category" />
      }
    </ul>
  </app-container>
</section>
